<h2>My Heroes</h2>
<ul class="heroes">
	<!-- *ngFor is Angular's repeater directive. It repeats the host element for each element in a list -->
			<!-- (click)="onSelect(hero)" - Angular event binding syntax - li element listens for click event -->
	<li *ngFor="let hero of heroes" [class.selected]="hero === selectedHero" (click)="onSelect(hero)"> 
		<!-- li is the host element -->
		<!-- onSelect is a hero component method that (still needs to be written) - call it with the hero object -->
		<span class="badge">{{hero.id}}</span> {{hero.name}}
	</li>
</ul>


<div *ngIf="selectedHero">
	<h2>
	  {{selectedHero.name | uppercase}} Details
	  						<!-- uppercase pipe - formats data/ currency etc in interpolation binding-->
	</h2>
		<div><span>id: </span>{{hero.id}}</div>
	<div>
		<label>name:
			<input [(ngModel)]="selectedHero.name" placeholder="name">
		</label>
	</div>
</div>

		